@font-face {
  font-family: 'Lato';
  src: local('Lato-Regular'),
    url(./public/fonts/Lato/Lato-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato-Bold'),
    url(./public/fonts/Lato/Lato-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  /* text color */
  --text-color-white: #ffffff;
  --text-color-black: #102746;
  --border-color: #bfc0c5;
  /* link color */
  --link-color-blue: #006dfe;
  /* bg color */
  --btn-bg-color-blue: #1b7dff;
  --btn-bg-white: #fff;
  --bg-color-black: #0e1d28;
  --bg-pseudo-items: rgba(255, 255, 255, 0.96);
}

html {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}
body {
  max-width: 90rem;
  margin: 0 auto;
  position: relative;
  color: var(--text-color-white);
  display: flex;
  flex-direction: column;
  background-image: url(./public/img/image.jpg);
  background-repeat: no-repeat;
  /* background-size:cover; */
  background-position: top center;
}

.container {
  max-width: 78.75rem;
  padding: 0 0.625rem;
  margin: auto;
}
.common-container {
  padding: 0 1.25rem;
}
@media (min-width: 43rem) {
  .common-container {
    padding: 0 6.25rem;
  }
}
@media (min-width: 28.75rem) {
  .common-container {
    padding: 0 3rem;
  }
}
.arrow-link {
  position: relative;
  padding-right: 3.6875rem;
  white-space: nowrap;
  font-size: 0.8rem;
}
@media (mun-width: 28rem) {
  .arrow-link {
    font-size: 1rem;
  }
}
.arrow-link::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 2.0625rem;
  height: 0.5rem;
  background-image: url("data:image/svg+xml,%3Csvg width='33' height='8' viewBox='0 0 33 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.7706 3H0V5H24.7706V8L33 4L24.7706 0V3Z' fill='%23006DFE'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.title-sections {
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.2;
}
@media (min-width: 37rem) {
  .title-sections {
    font-size: 2.1875rem;
  }
}

@media (min-width: 23rem) and (max-width: 36.99rem) {
  .title-sections {
    font-size: 1.8rem;
  }
}
.title-decoration-line {
  position: relative;
}
.title-decoration-line::before {
  content: '';
  display: block;
  position: absolute;
  max-width: 15.8125rem;
  width: 100%;
  height: 0.1875rem;
  left: 0;
  bottom: -0.5rem;
  background-color: var(--link-color-blue);
}

.header {
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  margin-bottom: 1.25rem;
}
@media (min-width: 43rem) {
  .header__inner {
    padding-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}
.header .logo {
  margin-right: 0.9375rem;
}
.logo__image {
}

.burger__btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  outline: none;
}
.menu__burger-btn {
  position: absolute;
  top: 3.5rem;
  right: 2rem;
}
.menu__burger-btn > .line {
  background-color: var(--bg-color-black);
}
@media (min-width: 53.74rem) {
  .burger__btn {
    display: none;
  }
}
.burger__btn--active .line:nth-child(1),
.burger__btn--active .line:nth-child(3) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.burger__btn--active .line:nth-child(1) {
  transform: rotate(-45deg);
}
.burger__btn--active .line:nth-child(3) {
  transform: rotate(45deg);
}
.burger__btn--active .line:nth-child(2) {
  opacity: 0;
}
.line {
  background-color: var(--btn-bg-white);
  width: 100%;
  height: 2px;
  opacity: 1;
  transition: transform 0.3s ease, height 0.3s ease, opacity 0.3s ease;
}
.burger__btn:hover > .line,
.burger__btn:active > .line,
.burger__btn:focus > .line,
.line:active,
.line:focus {
  height: 3px;
}

.menu {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateX(100%);
  background-color: var(--bg-pseudo-items);
  color: var(--text-color-black);
  transition: transform 0.3s ease;
  z-index: 10;
}
@media (min-width: 53.75rem) {
  .menu {
    display: block;
    position: static;
    right: auto;
    top: auto;
    left: auto;
    bottom: auto;
    background-color: transparent;
    color: var(--text-color-white);
    transform: translateX(0);
    z-index: auto;
  }
}
@media (min-width: 43rem) {
  .menu {
    flex: 0 1 30.625rem;
  }
}
.menu__links {
  display: flex;
  flex-direction: column;
  justify-content: start;
  list-style: none;
  height: 100%;
  width: 60%;
  background-color: var(--text-color-white);
  margin-left: auto;
  padding: 3.5rem 3.5rem 0 1.5rem;
  box-shadow: -16px 0px 52px rgba(14, 24, 80, 0.2);
}
@media (min-width: 53.75rem) {
  .menu__links {
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    background-color: transparent;
    margin-left: 0;
    padding: 0;
  }
  .menu__item + .menu__item {
    margin-left: 0.625rem;
  }
}
.menu__item {
  margin-left: 0;
}

.menu__link {
  font-size: 1.125rem;
  line-height: 1.5;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu--active {
  transform: translateX(0);
}

.top {
  padding-bottom: 9.625rem;
}
.top__inner {
}
.top__inner-text {
  max-width: 38.75rem;
  margin-bottom: 1.75rem;
}
@media (min-width: 43.75rem) {
  .top__inner-text {
    margin-bottom: 3.75rem;
  }
}
.top__title {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 1.2;
  margin-bottom: 1.375rem;
}
@media (min-width: 47.5rem) {
  .top__title {
    font-size: 3.125rem;
  }
}
.top__text {
  max-width: 34.125rem;
  font-size: 1rem;
  line-height: 1.5;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
@media (min-width: 46rem) {
  .form {
    flex-direction: row;
  }
}
.form__label {
  flex: 1 1 auto;
  max-width: 100%;
  position: relative;
}
@media (min-width: 46rem) {
  .form__label {
    max-width: 18.5rem;
  }
}
.form__label::before {
  content: '';
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  top: 1.25rem;
  left: 0;
  border: 0.125rem solid #fff;
  border-radius: 50%;
}
.form__input {
  border: none;
  border-radius: 0;
  border-bottom: solid 0.125rem var(--border-color);
  padding: 0 0 1.4375rem 2.6875rem;
  background-color: transparent;
  width: 100%;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.3;
  color: inherit;
  outline: 0;
}
.form__input::placeholder {
  color: var(--text-color-white);
  font-family: 'Lato';
  font-weight: 500;
  font-size: clamp(1rem, 2vw, 1.75rem);
  line-height: 1.3;
}
.form__btn {
  padding: 0.9375rem 2.4375rem;
  color: inherit;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.2;
  background-color: var(--btn-bg-color-blue);
  outline: 0;
}

.advantages {
  padding-bottom: clamp(2rem, 5vw, 7.5rem);
}
.advantages__inner {
  background-color: #ffffff;
  color: #000000;
  padding-top: clamp(2rem, 5vw, 5.8125rem);
  padding-bottom: clamp(2rem, 5vw, 7.5rem);
  box-shadow: 0 0.125rem 1.25rem #151824;
}
.advantages__title {
  margin-bottom: clamp(2rem, 5vw, 7.5rem);
}
.advantages__card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3.4375rem;
}
@media (min-width: 48rem) {
  .advantages__card {
    flex-direction: row;
  }
}
.advantages__card-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
  flex: 0 12rem;
}
@media (min-width: 48rem) {
  .advantages__card-item {
    flex: 0 19.8125rem;
  }
}
.advantages__card-icon {
  flex: 0 0 auto;
  margin-bottom: 2.3125rem;
}
.advantages__card-title {
  margin-bottom: 1.625rem;
}
.advantages__card-text {
  margin-bottom: 2.4375rem;
}
.advantages__card-link {
  color: var(--link-color-blue);
  white-space: nowrap;
}

.travel {
  padding-bottom: clamp(2rem, 5vw, 8.1875rem);
}
.travel__inner {
}

.travel__top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.875rem;
}
.travel__title {
  margin-right: .8rem;
}
.travel__link {
  color: var(--link-color-blue);
}

.travel__gallery {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.travel__gallery-group {
  display: flex;
  gap: 0.625rem;
}
.travel__gallery-third-group {
}
.travel__gallery-img-group {
  position: relative;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
}
.travel__gallery-half-group .travel__gallery-img-group {
  flex: 1 1 20%;
}
.travel__gallery-third-group .travel__gallery-img-group {
  flex: 1 1 33.33%;
}
.travel__gallery-img-group::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(21, 24, 36, 0.4);
}
.travel__gallery-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.travel__gallery-img-caption {
  position: absolute;
  bottom: 0.6875rem;
  left: 0.75rem;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.2;
}
@media (min-width: 36rem) {
  .travel__gallery-img-caption {
    bottom: 1.6875rem;
    left: 1.75rem;
    font-size: 3.125rem;
  }
}

.area {
  color: var(--text-color-black);
  padding-bottom: clamp(2rem, 5vw, 8.6875rem);
}
.area__inner {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 2vw, 4.8125rem);
}
.area__content {
  display: flex;
  gap: clamp(1rem, 2vw, 6.75rem);
  flex-direction: column;
}
@media (min-width: 63rem) {
  .area__content {
    flex-direction: row;
  }
}
.area__content:nth-child(1) .area__img {
  background-image: url(./public/img/tottori.jpg);
}
.area__content:nth-child(2) .area__img {
  background-image: url(./public/img/kyoto’s.jpg);
}
.area__img {
  object-fit: cover;
  height: auto;
  width: 100%;
}
.area__info {
  display: flex;
  min-width: 21rem;
  flex-direction: column;
  align-items: start;
  padding: 0.75rem 0;
}
.area__title {
  font-size: 1.87rem;
  line-height: 1.333;
  margin-bottom: clamp(2rem, 5vw, 5.312rem);
  font-weight: 500;
}
.area__text {
  line-height: 1.5;
  margin-bottom: clamp(1rem, 5vw, 3.625rem);
}
.area__link {
  color: var(--link-color-blue);
  margin-bottom: clamp(1rem, 5vw, 3rem);
}

.landmarks {
  color: var(--text-color-black);
  margin-bottom: clamp(2rem, 5vw, 9rem);
}
.landmarks__title {
  margin-bottom: 3.375rem;
}
.landmarks__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: clamp(1rem, 2vw, 3.25rem);
  row-gap: clamp(1rem, 2vw, 3.625rem);
}
@media (min-width: 35rem) {
  .landmarks__cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.landmarks__card {
}
.landmarks__img-wrap {
  position: relative;
  margin-bottom: 2.8125rem;
}
.landmarks__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.landmarks__img-caption {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.9375rem clamp(0.6rem, 2vw, 1.5625rem);
  color: var(--text-color-white);
  background-color: rgba(21, 24, 36, 0.6);
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: 500;
  text-align: left;
}
.landmarks__img-caption > span {
  grid-column: 1/2;
}
.landmarks__info-img {
  grid-column: 2/-1;
  display: flex;
  flex-direction: column;
  gap: clamp(0.4rem, 2vw, 0.875rem);
  margin-left: 0.625rem;
}
@media (min-width: 43rem) {
  .landmarks__info-img {
    flex-direction: row;
  }
}
.landmarks__info-heart {
}
.landmarks__info-massage {
}
.landmarks__info-heart,
.landmarks__info-massage {
  display: flex;
  align-items: center;
  gap: 0.5625rem;
}
.landmarks__info-heart svg,
.landmarks__info-massage svg {
  margin-left: auto;
}
.landmarks__text {
  line-height: 1.5rem;
  margin-bottom: 1.9375rem;
}
.landmarks__btn {
  color: var(--text-color-white);
  padding: 0.75rem 1.1875rem;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: var(--btn-bg-color-blue);
  border: none;
  line-height: 1.1875rem;
  font-size: 1rem;
}

.video {
  position: relative;
  font-size: 0;
}
.video__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.video__btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(2rem, 5vw, 7rem);
  height: clamp(2rem, 5vw, 7rem);
  border-radius: 50%;
  background-color: var(--btn-bg-white);
}
.video__icon {
  width: 100%;
  height: 100%;
}
.video-player {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.footer {
  background-color: var(--bg-color-black);
}

.footer__inner {
  padding-top: clamp(2rem, 5vw, 7.4375rem);
  padding-bottom: clamp(2rem, 5vw, 7.4375rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 33rem) {
  .footer__inner {
    align-items: center;
    flex-direction: row;
  }
}
.footer .logo {
  display: block;
  margin-bottom: 1rem;
}
@media (min-width: 33rem) {
  .footer .logo {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}
.logo {
}
.logo__image {
}
.footer__info {
  flex: 0 1 auto;
  max-width: 34.6875rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap:1rem;
}
@media(min-width:33rem){
  .footer__info{
    grid-template-columns: repeat(3, 1fr);
  grid-template-rows:1fr;
  }
}
.footer__info-columns {
}
.footer__title {
  font-size: 1.125rem;
  line-height: 1.333;
  font-weight: 500;
  white-space: nowrap;
}
.footer__info-items {
}
.footer__info-item {
}
.footer__info-item + .footer__info-item {
  margin-top: 0.2rem;
}
.footer__info-link {
  outline: none;
  border-bottom: 0.125rem solid transparent;
  line-height: 1.5;
  white-space: nowrap;
}
.footer__info-link:hover,
.footer__info-link:active,
.footer__info-link:focus {
  transition: border-color 0.3s linear;
  border-color: var(--text-color-white);
}
